#container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 646px;
    height: 100%;
}

.menu {
    width: 100%;
    height: auto;
}

.menu__nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 10px;
    font-size: 17px;
    color: #FFF;
}

.menu__nav > * {
    display: flex;
    align-items: flex-end;
}

.menu__nav-time {
    justify-content: flex-start;
    width: 45px;
    margin-right: 10px;
}

.menu__nav-stage {
    justify-content: center;
    flex-grow: 1;
}

#player-stage {
    padding-left: 3px;
}

.menu__nav-home,
.menu__nav-stop {
    justify-content: flex-end;
}

.menu__nav-time::before,
.menu__nav-stop--button,
.menu__nav-home--button {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.menu__nav-time::before {
    margin-right: 3px;
    background-image: url('./../img/game-fdc/time.png');
}

.menu__nav-stop--button {
    margin-right: 10px;
    background-color: transparent;
    background-image: url('./../img/common/stop.png');
}

.menu__nav-home--button {
    background-image: url('./../img/common/home.png');
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 646px;
    border-radius: 5px;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.game::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.palette {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    width: 100%;
    height: 100%;
}

.palette-item {
    padding: 3px;
    border-radius: 5px;
    background-clip: content-box;
    cursor: pointer;
}

@keyframes vibrationEffect {
    from {
        left: 0;
    }
    
    to {
        left: 2px;
    }
}

.white-button {
    width: 25%;
    padding: 5px;
}

.modal {
    display: none;
    letter-spacing: -0.04em;
}

.modal-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
}

.modal__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    padding: 30px;
    z-index: 9999;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.modal__content-title {
    text-align: center;
    margin-bottom: 25px;
}

.modal__content-title--result {
    font-size: 21px;
    margin-bottom: 10px;
}

.modal__content-title--stage {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 17px;
}

.modal__content-title--desc {
    font-size: 15px;
}

.modal__content-close-button {
    width: 100%;
    font-size: 14px;
}

.vibration {
    animation: vibrationEffect 100ms infinite;
}

.show {
    display: block;
    opacity: 1;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .menu__nav {
        font-size: 21px;
    }

    .menu__nav-time {
        width: 55px;
    }

    .menu__nav-time::before,
    .menu__nav-stop--button,
    .menu__nav-home--button {
        width: 24px;
        height: 24px;
    }

    .menu__nav-time::before {
        margin-right: 5px;
    }

    .palette-item {
        border-radius: 6px;
        padding: 4px;
    }

    .modal__content {
        width: 50%;
    }
    
    .modal__content-title--result {
        margin-bottom: 15px;
    }
    
    .modal__content-title--stage {
        font-size: 21px;
        margin-bottom: 15px;
    }

    .modal__content-title--desc {
        font-size: 18px;
    }
    
    .modal__content-close-button {
        font-size: 17px;
    }

    @keyframes vibrationEffect {
        from {
            left: 0;
        }
        
        to {
            left: 3px;
        }
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .palette-item {
        border-radius: 7px;
        padding: 5px;
    }

    .modal__content {
        width: 20%;
    }
}