#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #3A1C71;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 85%;
    height: 10vh;
    padding-bottom: 10px;
}

.menu__bar-score {
    font-weight: 700;
    font-size: 14px;
    color: #FFF;
}

.menu__bar-score::before {
    content: '🥇';
}

.menu__bar-life {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 17px;
    color: #FFF;
}

.menu__bar-life::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 5px 1px 0;
    background-image: url('./../img/common/heart.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.menu__bar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__bar-list-item {
    margin-right: 10px;
}

.menu__bar-list-item:last-child {
    margin-right: 0;
}

.menu__bar-list-item--button {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.menu__bar-list-item--button#home-button {
    background-image: url('./../img/common/home.png');
}

.menu__bar-list-item--button#stop-button {
    background-image: url('./../img/common/stop.png');
}

.board {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 80%;
    letter-spacing: -0.04em;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.board__score {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 13%;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    color: #3A3845;
}

.board__score-item:first-child,
.board__score-item:last-child {
    flex-basis: 100%;
}

.board__score-item.pc {
    padding-right: 3%;
    text-align: right;
}

.board__score-item.player {
    padding-left: 3%;
    text-align: left;
}

.board__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pc-item {
    height: 60%;
    margin-bottom: 30px;
}

.board__image {
    width: 100%;
    height: 250px;
    min-height: 220px;
}

.modal {
    visibility: hidden;
    letter-spacing: -0.04em;
}

.modal__layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
}

.modal__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    padding: 30px;
    z-index: 9999;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.modal__content-title {
    text-align: center;
    margin-bottom: 25px;
}

.modal__content-title--result {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal__content-title--result-life {
    position: fixed;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -6%);
    font-weight: 700;
    font-size: 14px;
    opacity: 0;
}

.modal__content-title--result-life-img {
    width: 18px;
    height: 18px;
}

@keyframes blinkingEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal__content-title--score {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 17px;
}

.modal__content-title--desc {
    font-size: 15px;
}

.modal__content-close {
    font-size: 13px;
    margin-bottom: 25px;
}

.modal__content-close-button {
    width: 100%;
    padding: 8px;
    font-size: 14px;
}

.show {
    visibility: visible;
    opacity: 1;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .menu_bar,
    .board {
        max-width: 768px;
    }

    .menu__bar-score {
        font-size: 20px;
    }

    .menu__bar-list-item {
        margin-right: 15px;
    }

    .menu__bar-list-item--button {
        width: 28px;
        height: 28px;
    }

    .menu__bar-life {
        font-size: 25px;
    }

    .menu__bar-life::before {
        width: 28px;
        height: 28px;
        margin: 0 5px 2px 0;
    }

    .board__score {
        align-items: flex-end;
        font-size: 25px;
    }

    .board__image {
        height: 350px;
        min-height: 250px;
    }

    .modal__content {
        width: 50%;
        padding: 40px;
    }

    .modal__content-title {
        margin-bottom: 30px;
    }
    
    .modal__content-title--result {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .modal__content-title--result-life {
        font-size: 17px;
    }

    .modal__content-title--result-life-img {
        width: 21px;
        height: 21px;
    }
    
    .modal__content-title--score {
        font-size: 21px;
        margin-bottom: 15px;
    }

    .modal__content-title--desc {
        font-size: 19px;
    }
    
    .modal__content-close {
        font-size: 17px;
        margin-bottom: 30px;
    }
    
    .modal__content-close-button {
        height: auto;
        padding: 8px;
        font-size: 18px;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .menu__bar,
    .board {
        max-width: 1200px;
    }

    .menu__bar-life {
        font-size: 27px;
    }

    .menu__bar-life::before {
        margin: 0 6px 3px 0;
    }

    .board__score {
        margin-bottom: 15px;
        font-size: 27px;
    }

    .board__image {
        height: 380px;
        min-height: 280px;
    }

    .modal__content {
        width: 50%;
        max-width: 600px;
    }

    .modal__content-title--result-life-img {
        width: 24px;
        height: 24px;
    }
}