#container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #3A1C71;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 646px;
    height: 100%;
}

.menu {
    width: 100%;
    height: auto;
}

.menu__nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 10px;
    font-size: 17px;
    color: #FFF;
}

.menu__nav > * {
    display: flex;
    align-items: flex-end;
    width: 50px;
    height: auto;
}

.menu__nav-home {
    justify-content: flex-end;
    flex-grow: 1;
}

.menu-show-state::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-bottom: 2px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.menu__nav-time.menu-show-state::before {
    background-image: url('./../img/game-fdc/time.png');
}

.menu__nav-stage.menu-show-state::before {
    background-image: url('./../img/game-fdc/stage.png');
}

.menu__nav-home--button {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    background: transparent;
    background-image: url('./../img/common/home.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.colors {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 646px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.colors::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.colors__game {
    width: 90%;
    height: 90%;
    border: 1px solid lightblue;
}

.show {
    visibility: visible;
    opacity: 1;
}

/* Tablet */
@media screen and (min-width: 768px) {
}

/* Desktop */
@media screen and (min-width: 1024px) {
}