#container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 646px;
    height: 100%;
}

.menu {
    width: 100%;
    height: auto;
}

.menu__nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 10px;
    font-size: 17px;
    color: #FFF;
}

.menu__nav > * {
    display: flex;
    align-items: flex-end;
}

.menu__nav-info {
    flex-grow: 1;
}

.menu__nav-restart {
    margin-right: 10px;
}

.menu__nav-home {
    justify-content: flex-end;
}

.menu__nav-info--button,
.menu__nav-restart--button,
.menu__nav-home--button {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.menu__nav-info--button {
    background-image: url('./../img/common/info.png');
}

.menu__nav-restart--button {
    background-image: url('./../img/common/restart.png');
}

.menu__nav-home--button {
    background-image: url('./../img/common/home.png');
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 646px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.game::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.ground {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    width: 100%;
    height: 90%;
}

.ground__record {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
    overflow: hidden;
}

.ground__record--table {
    width: 80%;
    height: 90%;
    font-size: 13px;
    letter-spacing: -0.8px;
    text-align: center;
    border-collapse: collapse;
}

.ground__record--table th {
    color: #FFF;
    border: 1px solid #000;
    background-color: #000;
}

.ground__record--table thead th:last-child::before,
.ground__record--table thead th:last-child::after {
    content: '⚾';
}

.ground__record--table tbody th {
    width: 11%;
}

.ground__record--table tbody td {
    border: 1px solid #CCC;
}

.ground__record--table tbody td:last-child {
    width: 60%;
}

.ground__bat {
    width: 100%;
    height: 15%;
}

.ground__bat--form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form__input-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 33px;
    font-size: 13px;
}

.form__input {
    width: 20%;
    height: 60%;
    max-height: 30px;
    text-align: center;
    border: 1px solid #CCC;
    border-radius: .5rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.white-button {
    width: 20%;
    height: 60%;
    max-height: 30px;
    padding: 5px;
}

.modal {
    display: none;
    letter-spacing: -0.04em;
}

.modal-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
}

.modal__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 300px;
    height: auto;
    padding: 20px;
    z-index: 9999;
    text-align: center;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.info-modal .modal__content {
    width: 90%;
    max-width: 450px;
    padding: 10px;
    word-break: keep-all;
}

.info-modal h1 {
    font-size: 18px;
    margin-bottom: 15px;
}

.info-modal .modal__content-desc {
    font-size: 14px;
    margin-bottom: 20px;
}

.info-modal .modal__content-desc--main {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
}

.info-modal .modal__content-desc--list {
    padding-left: 20px;
    text-align: left;
}

.info-modal .modal__content-desc--list li {
    margin-bottom: 10px;
    text-indent: -20px;
}

.info-modal .modal__content-desc--list li:last-child {
    margin-bottom: 0;
}

.info-modal .modal__content-desc--list li::before {
    content: '🤍';
}

.modal__content-title--alert {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 700;
}

.modal__content-close-button {
    width: 100%;
    padding: 3px;
    font-size: 14px;
}

.game-result {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 230px;
    height: 230px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    animation: movingEffect 130ms 10 alternate;
}

.show {
    display: block;
    opacity: 1;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .menu__nav {
        font-size: 21px;
    }

    .menu__nav-info--button,
    .menu__nav-restart--button,
    .menu__nav-home--button {
        width: 24px;
        height: 24px;
    }

    .menu__nav-restart {
        margin-right: 20px;
    }

    .ground__record {
        height: 80%;
    }

    .ground__record--table {
        font-size: 17px;
    }

    .ground__record--table th{
        height: 40px;
    }

    .ground__record--table thead th {
        font-size: 20px;
    }

    .form__input-wrapper {
        margin-right: 63px;
    }

    .form__input {
        width: 20%;
        height: 40%;
        font-size: 17px;
    }
    
    .form__button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
    }

    .alert-modal .modal__content {
        padding: 30px 20px;
        width: 30%;
    }

    .info-modal .modal__content {
        width: 50%;
    }

    .info-modal h1 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .info-modal .modal__content {
        padding: 30px;
    }
    
    .info-modal .modal__content-desc {
        font-size: 16px;
        margin-bottom: 25px;
    }
    
    .info-modal .modal__content-desc--main {
        margin-bottom: 20px;
        font-size: 19px;
    }
    
    .info-modal .modal__content-desc--list li {
        text-indent: -25px;
    }

    .info-modal .modal__content-close-button {
        width: 40%;
    }
    
    .modal__content-title--alert {
        font-size: 18px;
    }
    
    .modal__content-close-button {
        width: 150px;
        font-size: 15px;
    }

    .game-result {
        width: 330px;
        height: 330px;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .info-modal .modal__content {
        width: 35%;
    }

    .modal__content {
        width: 20%;
    }
}