#container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 646px;
    height: 100%;
}

.menu {
    width: 100%;
    height: auto;
}

.menu__nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 10px;
    font-size: 17px;
    color: #FFF;
}

.menu__nav > * {
    display: flex;
    align-items: flex-end;
}

.menu__nav-turn {
    justify-content: flex-start;
    width: 60px;
    margin-right: 10px;
}

.menu__nav-point {
    justify-content: center;
    flex-grow: 1;
}

#point {
    padding-left: 5px;
}

.menu__nav-home {
    justify-content: flex-end;
    width: 60px;
}

.menu__nav-turn::before,
.menu__nav-home--button {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.menu__nav-turn::before {
    margin-right: 3px;
    background-image: url('./../img/game-mt/turn.png');
}

.menu__nav-home--button {
    background-image: url('./../img/common/home.png');
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 646px;
    border-radius: 5px;
    background-color: #000;
}

.game::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.game__board {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    width: 100%;
    height: 100%;
}

.item {
    width: 33.33333333333333%;
    height: 33.33333333333333%;
    border: 2px solid #000;
    border-radius: 4px;
    background-clip: content-box;
    background-color: #FFF;
    transition: background-color 150ms ease-in;
}

.stage-clear {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 230px;
    height: 230px;
    background-image: url('../img/game-mt/clear.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    animation: movingEffect 130ms 10 alternate;
}

.modal {
    display: none;
    letter-spacing: -0.04em;
}

.modal-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
}

.modal__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    padding: 30px;
    z-index: 9999;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.modal__content-title {
    text-align: center;
    margin-bottom: 25px;
}

.modal__content-title--result {
    font-size: 21px;
    margin-bottom: 10px;
}

.modal__content-title--stage {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 17px;
}

.modal__content-title--desc {
    font-size: 15px;
}

.modal__content-close-button {
    width: 100%;
    font-size: 14px;
}

.white-button {
    width: 25%;
    padding: 5px;
}

.show {
    display: block;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .menu__nav {
        font-size: 21px;
    }

    .menu__nav-turn,
    .menu__nav-home {
        width: 73px;
    }

    .menu__nav-turn::before,
    .menu__nav-home--button {
        width: 24px;
        height: 24px;
    }

    .menu__nav-turn::before {
        margin-right: 5px;
    }

    .item {
        border: 3px solid #000;
        border-radius: 6px;
    }

    .stage-clear {
        width: 330px;
        height: 330px;
    }

    .modal__content {
        width: 50%;
    }
    
    .modal__content-title--result {
        margin-bottom: 15px;
    }
    
    .modal__content-title--stage {
        font-size: 21px;
        margin-bottom: 15px;
    }

    .modal__content-title--desc {
        font-size: 18px;
    }
    
    .modal__content-close-button {
        font-size: 17px;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .item {
        border: 4px solid #000;
        border-radius: 7px;
    }

    .modal__content {
        width: 20%;
    }
}