#container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 646px;
    height: 100%;
}

.menu {
    width: 100%;
    height: auto;
}

.menu__nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 10px;
    font-size: 17px;
    color: #FFF;
}

.menu__nav > * {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu__nav-life {
    justify-content: flex-start;
    flex-grow: 1;
}

.menu-show-state::before,
.menu__nav-stop--button,
.menu__nav-home--button {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.menu-show-state::before {
    margin-right: 3px;
}

.menu__nav-life.menu-show-state::before {
    background-image: url('./../img/common/heart.png');
}

.menu__nav-stop--button {
    margin-right: 10px;
    background-color: transparent;
    background-image: url('./../img/common/stop.png');
}

.menu__nav-home--button {
    background-image: url('./../img/common/home.png');
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 646px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.game::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.game__board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
}

.game__score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-weight: 700;
    font-size: 16px;
    color: #3A3845;
}

.game__score-item:first-child,
.game__score-item:last-child {
    flex-basis: 100%;
}

.game__score-item.pc {
    padding-right: 3%;
    text-align: right;
}

.game__score-item.player {
    padding-left: 3%;
    text-align: left;
}

.game__pc-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.game__pc-selection--image {
    width: 100%;
    height: 100%;
    padding: 50px;
    object-fit: contain;
}

.game__button-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10%;
}

.white-button {
    width: 25%;
    padding: 5px;
}

.modal {
    display: none;
    letter-spacing: -0.04em;
}

.modal-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
}

.modal__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    padding: 30px;
    z-index: 9999;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.modal__content-title {
    text-align: center;
    margin-bottom: 25px;
}

.modal__content-title--result {
    font-size: 21px;
    margin-bottom: 10px;
}

.modal__content-title--result-life {
    position: fixed;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -6%);
    font-weight: 700;
    font-size: 14px;
    opacity: 0;
}

.modal__content-title--result-life-img {
    width: 14px;
    height: 14px;
}

@keyframes blinkingEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal__content-title--score {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 17px;
}

.modal__content-title--desc {
    font-size: 15px;
}

.modal__content-guide {
    font-size: 13px;
    margin-bottom: 25px;
}

.modal__content-close-button {
    width: 100%;
    font-size: 14px;
}

.show {
    display: block;
    opacity: 1;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .menu__nav {
        font-size: 21px;
    }

    .menu-show-state::before,
    .menu__nav-stop--button,
    .menu__nav-home--button {
        width: 24px;
        height: 24px;
    }

    .menu-show-state::before {
        margin-right: 5px;
    }

    .game__score {
        font-size: 20px;
    }

    .game__pc-selection--image {
        padding: 80px;
    }

    .modal__content {
        width: 50%;
    }
    
    .modal__content-title--result {
        margin-bottom: 15px;
    }

    .modal__content-title--result-life {
        font-size: 17px;
    }

    .modal__content-title--result-life-img {
        width: 16px;
        height: 16px;
    }
    
    .modal__content-title--score {
        font-size: 21px;
        margin-bottom: 15px;
    }

    .modal__content-title--desc {
        font-size: 18px;
    }
    
    .modal__content-guide {
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .modal__content-close-button {
        font-size: 17px;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .modal__content {
        width: 20%;
    }
}