* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    font-family: 'Noto Sans KR', sans-serif;
}

.no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select:none;
}

.show {
    display: inline-block;
    opacity: 1;
}