* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #3A3845;
}

a,
button,
textarea {
    font-family: 'Noto Sans KR', sans-serif;
    color: #3A3845;
}

a {
    text-decoration: none;
}

button {
    border: none;
    padding: 0;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}

button:hover {
    cursor: pointer;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

.sr-only {
    position: absolute;
    z-index: -100;
    width: 1px; /* width나 height 중에 하나라도 0으로 주면 display: none 처럼 스크린 리더가 읽어주지 않아서 1px로 설정 */
    height: 1px;
    overflow: hidden; /* 1x1을 벗어난 영역 자르기 */
    opacity: 0; /* 투명도를 0으로 */
}

.no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select:none;
}

.show {
    visibility: visible;
    opacity: 1;
}